.main-content {
    color: white;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    padding-top: 100px;
}

.App {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#root {
    height: 100%;
}

body {
    height:100vh;
    background-color: #212121;
}

.body-text {
    color: white;
}

.profile {
    max-width: 300px;
    max-height: 300px;
    width: 20vw !important;
    height: 20vw !important;
    min-width: 100px;
    min-height: 100px;
}

.social-icon {
    width: 50px;
    height: 50px;
}

.skills {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}